

@font-face {
    font-family: 'alataregular';
    src: url('alata-regular-webfont.woff2') format('woff2'),
         url('alata-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansthin_italic';
    src: url('josefinsans-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('josefinsans-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;

}




@font-face {
    font-family: 'josefin_sansthin';
    src: url('josefinsans-variablefont_wght-webfont.woff2') format('woff2'),
         url('josefinsans-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}