@import /*"fonts",*/ "resets";


 @mixin border($color){
 	border: 2px solid $color;
 }


/*body{
	height:100%;
	widht:100%;
}*/


@include mobile{
	body{
		min-height:100%;
		height:auto;
	}

	.bodyContent{
		height:100%;
		width:100%;
		position:relative;
		h2,h3{
			font-family: 'Josefin Sans';
			text-transform: uppercase;
			/*text-decoration: italic;*/
			font-weight:400;
			

		}
		h2{
			margin-bottom: 5%;
		}
	}

	.navbarContent{
		position:relative;
		height:130vh;
		width:100vw;
		background: url('../assets/images/mobile/image-hero.jpg') no-repeat;
		background-size:cover;
		.navbar-nav{
			display:none;
		}
		.brand, .icon{
			display:flex;
			position:absolute;
			color: white;
		}

		.brand{
			font-family: 'Alata', sans-serif;
			font-size:7vw;
			top:4vh;
			left:5vw;
		}

		.icon{
			position: absolute;
			top:4%;
			right:5%;
			font-size:5vh;
			text-decoration:none;
			opacity:0.95;
		}
		.icon_close{
			display:none;
		}

		&--title{
			font-family: 'Josefin Sans';
			text-transform: uppercase;
			color:white;
			font-size:12vw;
			/*height:40%;*/
			position:absolute;
			bottom:33%;
			margin: 0 5%;
			padding: 0.25em;
			@include border(white);
			opacity:0.8;

		}
	}

	.responsive{
		background: linear-gradient(black 100%, transparent 0%);
		position:relative;
		
		.navbar-nav{
			display: block;
			position:absolute;
			top:40%;
			left:5%;
			.nav-item{
				line-height: 1.8;
				.nav-link{
					font-family: 'Josefin Sans';
					text-transform: uppercase;
					color: white;
					text-decoration:none;
					font-size: 8vw;
					opacity:0.8;
				}
			}
		}

		.icon{
			display:none;
		}
		.icon_close{
			display:flex;
			position:absolute;
			top:5%;
			right:5%;

		}

		.navbarContent--title{
			display:none;
		}	
	}

	.main--container{
		display:flex;
		flex-direction:column;
		min-height:0;
		width:100%;
		padding: 15% 5%;
		@include border(yellow); /*jaune*/

		.row{
			@include border(rgb(32,55,11)); /* vert kaki*/
			.img_VR{
				/*height:40vh;*/
				width:100%;
			}

			.col{
				text-align:center;
				padding: 5%;

				.interactive_txt{
					opacity:0.8;
					line-height:1.5;
				}
			}

		}
		.container_grid, .button{
			text-transform: uppercase;
		}
		.container_grid{
			display:flex;
			flex-direction:column;
			text-align:center;
			margin-top:10%;
			@include border(pink); /*rose*/
			.button{
				font-family: 'Alata', sans-serif;
				position:absolute;
				bottom:0;
				border: 1px solid black;
				color:black;
				font-size:5vw;
				background-color: transparent;
				font-weight:100;

			}
			.grid{
				display:grid;
				grid-template-rows:repeat(8,minmax(150px,1fr));
				@include border(red); /*rouge*/
				position:relative;
				min-width:0;
				min-height:0;


				.item{
					position: relative;
					@include border(green);
					h3{
						width:40%;
						margin-left:5%;
						font-size:7vw;
						font-weight:100;
						color: white;
						@include border(orange); /*orange*/
						position:absolute;
						bottom:20%;
						opacity:0.9;
					}
				}


				
				.earth{
					background: url('../assets/images/mobile/image-deep-earth.jpg') no-repeat;				
					}
				.arcade{
					background: url('../assets/images/mobile/image-night-arcade.jpg') no-repeat;
				}
				.soccer{
					background: url('../assets/images/mobile/image-soccer-team.jpg') no-repeat;
				}
				.the_grid{
					background: url('../assets/images/mobile/image-grid.jpg') no-repeat;
				} 
				.above_VR{
					background: url('../assets/images/mobile/image-from-above.jpg') no-repeat;
				} 
				.borealis{
					background: url('../assets/images/mobile/image-pocket-borealis.jpg') no-repeat;
				}
				.curiosity{
					background: url('../assets/images/mobile/image-curiosity.jpg') no-repeat;
				}
				.fisheye{
					background: url('../assets/images/mobile/image-fisheye.jpg') no-repeat;
					/*background-origin: border-box;*/
				}

				.earth,.arcade, .soccer, .the_grid, .above_VR, .borealis, .curiosity, .fisheye{
					-webkit-background-size: contain;
					-moz-background-size: contain;
					background-size: contain;
					-o-background-size: contain;
				}

				/*background-size:100% 100%;
				background-position:center;
				background-repeat: no-repeat;*/
			}
		}
	}


}